label {
    margin: 0 40px 0 0; 
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
     
}

#toggle {
    display: none;
}

@media only screen and (max-width: 995px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        cursor: pointer;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB; 
        margin: 0;
        
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
    .ban {
        display:flex; /* permet d'avoir le menu par dessus la caroussel */
    
    }
    
    
    
}


